.tab{
    display: block;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
    z-index: 0;
}
.tab li{
    font-size: 15px;
    text-transform: none;
    display: block;
    padding: 10px 0 20px 0;
    background-color: transparent;
    border-radius: 50px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    transition: all .3s ease 0s;
    text-align: left;
} 
/* /* .tab li a.current{
    color: white;
    background-color: #00b163;
} */
