.Heading{
    font-weight: 1000;
    font-family: Poppins, sans-serif;
    font-style: normal;
    size: 42px;
    line-height: 48px;
    color: #273044;
    text-align: center;
    margin-top: 5rem;
}
.row{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}