.Main{
    background-color: #EEF1F7;
    margin-top: 3rem;
    padding: 5rem;
}
.Heading{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.7rem;
}
  /* @media (max-width: 768px) {
    .Heading {
      font-size: 2rem;
    }
  }
  @media (max-width: 480px) {
    .Heading {
      font-size: 1.5rem;
    }
/* 
    span {
      font-size: 14px;
    } */
  /* } */ 