.Heading{
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color: #273044;
    /* margin: 5rem 0 4rem 0; */
}
.btnDiv{
    display: flex;
    justify-content: flex-end;
}
.btn1{
    border-radius: 20px;
    height: 3rem;
    font-size: small;
    font-weight: bold;
}