.Heading{
    font-weight: 700;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color: #273044;
    margin: 5rem 0 4rem 0;
}
/* .btn1{

}
.btn2{
} */
