.Card {
    background-color: #EEF1F7;
  width: 25rem;
  border: none;
  padding: 1rem;
  /* margin-right: -3rem; */
  /* height: 22rem; */
  margin-bottom: 2rem;

}
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.icon {
  font-size: 4.5rem;
  font-weight: lighter;
  color: #ffffff;
  display: flex;
  padding-top: 0.8rem;
  justify-content: center;
  padding-top: 1.7rem;
}

.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #303442;
  margin-bottom: 0.5rem;
}
.text{
  font-family: "Open Sans", sans-serify;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #303442;
}
